@CHARSET "ISO-8859-1";
body {

	font: 9pt Verdana, Helvetica, Arial, sans-serif;
	margin-left: 8px;
	margin-top: 0px;
	
}

.hiddenCanvas{
	display: none;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: auto;					
    padding: 2px;				
    /*font: 12px sans-serif;*/		
    background: yellow;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

#controls {
	position: fixed;
	top: 100px;
	height: auto;
	width: 40px;
	font: 9pt Verdana, Helvetica, Arial, sans-serif;
	z-index: 100;
	background-color: black;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
}
.slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}
.slider-wrapper input {
  width: 150px;
  height: 20px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}

#title {
	position: fixed;
	top: 0px;
	height: auto;
	width: 100%;
	background-color: black;
	color: white;
}
#parts {
	position: fixed;
	padding-top: 5px;
	top: 35px;
	height: auto;
	width: 20000px; /* hack */
}
#parts g {
	cursor: col-resize;
}

#diagram {
	position: fixed;
	width: 100%;
}
#scrollDummy {
	z-index: -10;
	/*background-color: lightblue;*/
}

#searchContainer {
	margin-top: 3px;
    border-style: solid;
	border-color: grey;
    border-width: 1px;
    padding-left: 0px;	
    padding-right: 3px;	
    padding-bottom: 2px;
}

#searchInput {
	float: left;
	margin-top: 2px;
	margin-left: 0.5em;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

.searchLabel {
	float: left;
	margin: unset;
	margin-top: 0.6em;
	margin-left: 0.5em;
}

.searchButton {
	float: left;
	margin-top: 2px;
	background-color: black;
	color: white;
	/*border: none;*/
	height: 22px;
		
}

.active {
  stroke-width: 3px;
}

/* Remove the blue outline border on active elements */
:focus {
	outline: 0;
}